.NavegandoNoRock
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    justify-content: space-evenly;
}

.footer
{
 background-color: black;
 color: white;
}

h5
{
 justify-content: center;
 align-items: center;
 display: flex;
 background-color: black;
 color: white;
 margin: 0;
 padding: 40px;
}

body
.a{
    height: 800px;
}
